extends layout-awards

block content
  .container.flex-fill
    .row.align-items-center
      .col
        img.img-fluid.my-4(src='/img/geoff_eyes.png')
        h3.white.mb-4 Per partecipare alle votazioni devi effettuare il login.
        h3
          a(href='/') Torna alla homepage
          | &nbsp;e clicca su "Login con Steam".
