extends layout

block content
  .container.flex-fill
    .row.align-items-center
      .col
        h1.big-text.mb-3 403
        h3
          | Non hai il permesso di entrare qui.
          br
          | Pussa via.
        if errorMessage
          h5.white.mt-4
            | Gaben ci tiene ad aggiungere:&nbsp;
            br
            | '#{errorMessage}'
