doctype html
html(lang='it')
  head
    title SpazioPC Game Awards 2025
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')

  body.body-awards
    .snow-container
    nav.navbar.navbar-expand-lg.navbar-awards
      .container
        a.navbar-brand(href='/') Home
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarMenu')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarMenu
          ul.navbar-nav.ms-lg-3.align-items-center.gap-lg-3
            li.nav-item
              a.nav-link(href='/faq') FAQ
            li.nav-item
              a.nav-link(href='/gameawards') Game Awards
            li.nav-item
              a.nav-link(href='/communityawards') Community Awards
          ul.navbar-nav.ms-lg-auto.mb-2.mb-lg-0.align-items-center.gap-lg-3
            if user
              if user.steam_id === process.env.ADMIN_STEAM_ID
                li.nav-item(style='padding-top:2px;padding-bottom:2px;')
                  a.btn.btn-danger(href='/admin') Admin
              li.nav-item(style='padding-top:2px;padding-bottom:2px;')
                img.avatar.rounded-circle(src=user.steam_avatar alt='Avatar' width='32' height='32')
                form(action='/logout', method='post', style='display:inline-block;')
                  button.btn.btn-secondary(type='submit') Logout
            li.nav-item(style='padding-top:7px;padding-bottom:7px;')
              .form-check.form-switch.text-nowrap
                input#toggleSnow.form-check-input(type='checkbox' checked)
                label.form-check-label.small(for='toggleSnow') Neve

    .container.d-flex.align-items-center.justify-content-center.text-center.py-5
      block content

    footer.footer.text-center.py-5.mt-4.footer-awards
      p
        | Made with ☕ by&nbsp;
        a(href='https://forum.spaziogames.it/members/onizm.42969/' target='_blank') oniZM
        | &nbsp;for&nbsp;
        a(href='https://forum.spaziogames.it/forums/spazio-pc.23/' target='_blank') SpazioPC
        br
        | Not optimized for mobile. Suca.

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js')
    script(src='/js/script.js')
